.git/

.idea/
.idea_modules/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*

**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/[Ww][Ii][Nn]32/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/

.vs/
**/Generated\ Files/
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
BenchmarkDotNet.Artifacts/

**/project.lock.json
**/project.fragment.lock.json
ScaffoldingReadMe.txt

**/_ReSharper*/
**/*.[Rr]e[Ss]harper
**/*.DotSettings.user

**/*.[Pp]ublish.xml
**/*.azurePubxml
**/*.pubxml
**/*.publishproj

**/*.nupkg
**/*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
**/*.nuget.props
**/*.nuget.targets

**/*.[Cc]ache
!?*.[Cc]ache/

*.publishsettings

**/*.mdf
**/*.ldf
**/*.ndf

**/.ntvs_analysis.dat
**/node_modules/
**/.angular/
**/dist/

**/__pycache__/
**/*.pyc

.localhistory/

.vscode/